.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100vw;
}

.formGrid {
  display: grid;
  padding: 30px;
  border-radius: 6px;
  background: #c9d8a8;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  margin-left: 86px;
  width: 600px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #070000;
}

.inputGroup input {
  height: 25px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
  background: #e6ead9;
  color: #070000;
}