* {
  box-sizing: border-box;
}

.pageLayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.pageContent {
  flex-grow: 1;
  padding: 24px;
  color: black;
  font-weight: normal;
}

.pageContent h1,
.pageContent h2 {
  margin: 20;
}

.pageContent h1 {
  margin-bottom: 20px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}


.filtros {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.serie {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  margin-left: 200px;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    gap: 12px;
  }
  .search{
    margin: 0;
  }
}
