.container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;  
}

body{
  background-color: white;
}

.mural {
  background-color: #FFE5E0;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 900px;
}

.avisosContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
}

h2{
  color: black;
  font-weight: normal;
}

.muralTitle{
  color: black;
  font-weight: 500;
}



