.btnAdicionar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #FFE5E0;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 16px;
}

.iconeAdicionar {
  width: 20px;
  height: 20px;
}

h2 {
  color: black;
}

.container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;  
  background-color: "#FCF4F4";
}