.container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;  
}

body{
  background-color: white;
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
}

h2{
  color: black;
  font-weight: normal;
}




