.searchContainer {
  width: 300px;
}

.searchInput {
  width: 100%;
  padding: 12px 10px;
  border-radius: 10px;
  border: 2px solid #10898B !important;
  font-size: 13px;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s ease;
  color: black;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.searchInput:focus {
  box-shadow: 0 0 0 2px #DAE7C1;
}