.mainContent {
  flex-grow: 1;
  padding: 24px;
  background-color: #f5f5f5;
  min-height: 90vh;
}

.mainContent h2 {
  margin-bottom: 20px;
  font-weight: 500;
  color: black;
}

.cardsGrid {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}