.container {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  width: 100%;
}

.mainContent {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boletimAluno {
  margin-top: 8px;
}

.row {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.avisosContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.mural {
  background-color: #b75f4d;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  color: black;
  font-weight: normal;
  margin: 0;
  margin-left: 8px;
  margin-top: 7px;
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 10px;
}