.mural {
  font-family: 'Poppins', sans-serif;
  background-color: #FFE5E0;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 900px;
}

.avisosContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.muralTitle{
  color: black;
  font-weight: 500;
}

.noAvisos {
  color: black;
  font-style: italic;
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}